.visualizer {
  display: grid;
  grid-template-rows: 1fr auto;
}

.documents {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.document + .document {
  border-left: 1px solid grey;
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: rgba(225, 0, 255, 0.164);
  height: 5rem;
  overflow: auto;
}

.mappings {
  display: flex;
  justify-content: center;
  flex: 1;
  gap: 1ch;
}

.mappings pre {
  margin: 0;
  padding: 0;
}
